## **Tupla:** Crie uma tupla com 5 números inteiros e calcule a soma desses números.

In [ ]:
numeros = (5,4,11,6,9)
print(type(numeros))
sum(numeros)

<class 'tuple'>

35

## **Lista:** Crie uma lista com 5 nomes e acesse o segundo e o quarto nome dessa lista.

In [ ]:
lista_nomes = ['Kauane','Matheus','Stelinha','Arthur','João']
print(lista_nomes)
print(f' Segundo nome da lista é: {lista_nomes[1]}')
print(f' Quarto nome da lista é: {lista_nomes[3]}')

['Kauane', 'Matheus', 'Stelinha', 'Arthur', 'João']
 Segundo nome da lista é: Matheus
 Quarto nome da lista é: Arthur

## **Dicionário:** Crie um dicionário com 3 pares chave-valor e acesse o valor de uma chave específica.

In [ ]:
morador = {
    'nome':'Kauane',
    'apartamento':15,
    'Placa do carro': '123DIT'}
print(type(morador))

morador.get('apartamento')

<class 'dict'>

15

##**Lista:** Crie uma lista com 6 números e calcule a média desses números.

In [ ]:
numeros_lista = [2,4,6,8,10,12]
media = sum(numeros_lista)/ len(numeros_lista)
print(media)

7.0

##**Dicionário:** Crie um dicionário com 4 pares chave-valor e adicione uma nova chave com um valor ao dicionário.

In [ ]:

cliente = {
    'cor':'Amarelo',
    'carro':'polo',
    'moradia': 'casa',
    'fruta':'maracuja' }
print(type(cliente))

cliente['brinquedo'] = 'bola'

print(cliente)

<class 'dict'>
{'cor': 'Amarelo', 'carro': 'polo', 'moradia': 'casa', 'fruta': 'maracuja', 'brinquedo': 'bola'}

##**Tupla:** Crie uma tupla com 4 números, converta a tupla em lista e adicione um novo número à lista.

In [ ]:
#criando uma tupla com 4 números
numeros_tuplas = (1,2,3,4)
print(type(numeros_tuplas))

<class 'tuple'>

In [ ]:
#convertando a tupla em lista
lista_1 = [numeros_tuplas]
print(type(lista_1))

<class 'list'>

In [ ]:
#adicionando um novo número á lista
lista_1.append(5)
print(lista_1)

[(1, 2, 3, 4), 5]

## **Lista:** Crie uma lista com 7 números e remova o número no índice 3.

In [ ]:
lista_2 = [1,2,3,4,5,6,7]
print(type(lista_2))
print(lista_2)
lista_2.pop(3)
print(lista_2)

<class 'list'>
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 5, 6, 7]

##**Dicionário:** Crie um dicionário com 3 pares chave-valor e altere o valor de uma chave.

In [ ]:
loja = {
    'Camisa polo':'M',
    'Calça': 40,
    'Tenis': 38}
print(type(Loja))
print(loja)
loja['Tenis'] = 45
print(loja)

<class 'dict'>
{'Camisa polo': 'M', 'Calça': 40, 'Tenis': 38}
{'Camisa polo': 'M', 'Calça': 40, 'Tenis': 45}

## **Tupla:** Crie uma tupla com 5 elementos e acesse o último elemento dessa tupla.

In [ ]:
cidades = ('São paulo',"São João da Boa Vista", 'Sorocaba','Itu','Bauru')
print(type(cidades))
print(cidades)
print(cidades[-1])

<class 'tuple'>
('São paulo', 'São João da Boa Vista', 'Sorocaba', 'Itu', 'Bauru')
Bauru

##**Lista:** Crie uma lista com 4 elementos e combine duas listas em uma nova lista.

In [ ]:
lista1 = [1,2,3,4]
lista2 = [5,6,7,8]
lista_final = lista1 + lista2
print(lista_final)

[1, 2, 3, 4, 5, 6, 7, 8]

##**Lista e If:** Crie uma lista com 5 números e verifique se o número 10 está na lista.

In [ ]:
lista_5 = [2,5,9,10,5]

if 10 in lista_5:
  print('o número 10 está na lista')
else:
  print('Não tem número 10 na lista')

o número 10 está na lista

##**Dicionário e If:** Crie um dicionário com 3 pares chave-valor e verifique se uma chave específica está no dicionário.

In [ ]:
loja = {
    'Camisa polo':'M',
    'Calça': 40,
    'Tenis': 38}
print(type(Loja))

if 'Camisa polo' in loja:
  print('Temos camisa polo na loja')
else:
  print('Não temos camisa polo na loja')

<class 'dict'>
Temos camisa polo na loja

##**Input e If:** Solicite ao usuário para digitar um número e verifique se ele é maior que 10.

In [ ]:
usuario = int(input('Digite um número inteiro: '))

if usuario > 10:
  print('O valor digitado é maior do que 10')
elif usuario == 10:
  print('O valor digitado é igual a 10')
else:
  print('Valor é menor do que 10')

Digite um número inteiro: 7
Valor é menor do que 10

##**Lista e If:** Crie uma lista de números e verifique se algum número da lista é negativo.

In [ ]:
lista_numeros = [-4,1,2,3,4]
print(type(lista_numeros))

numero_negativo = False

for i in lista_numeros:
  if i < 0:
    print('Tem número negativo')
    numero_negativo = True
    break
else:
  print('Não tem número negativo')

<class 'list'>
Tem número negativo

##**Tupla e If:** Crie uma tupla com 3 números e verifique se o primeiro número é maior que o segundo.

In [ ]:
tuplas = (9,2,7)
print(tuplas)
print(type(tuplas))

print(f'Primeiro número é: {tuplas[0]}')
print(f'Segundo número é: {tuplas[1]}')

if tuplas[0] > tuplas[1] :
  print("O primeiro número é maior do que o segundo")
else:
  print("O segundo número é maior do que o primeiro número")

(9, 2, 7)
<class 'tuple'>
Primeiro número é: 9
Segundo número é: 2
O primeiro número é maior do que o segundo

##**Dicionário e Input:** Crie um dicionário com 3 pares chave-valor e solicite ao usuário para acessar um valor pelo nome da chave.

In [ ]:
 Confeitaria = {
    'Bolo':'Chocolate',
    'Recheio':'Maracuja',
    'Corbetura': 'Morango'}

valor_chave = input('Escreva o item desejado (Bolo,Recheio,Corbetura): ')

if valor_chave in Confeitaria:
  print({Confeitaria[valor_chave]})
else:
  print('Item não encontrado')

Escreva o item desejado (Bolo,Recheio,Corbetura): Recheio
{'Maracuja'}

##**Input e Lista:** Solicite ao usuário para digitar 5 números e adicione esses números a uma lista.

In [ ]:
lista = [1,2,4]
print(lista)
print(type(lista))

for i in range(5):
  adicionando_numero = int(input(f'Digite o {i+1}º valor: '))
  lista.append(adicionando_numero)

print(lista)

[1, 2, 4]
<class 'list'>
Digite o 1º valor: 6
Digite o 2º valor: 4
Digite o 3º valor: 3
Digite o 4º valor: 5
Digite o 5º valor: 4
[1, 2, 4, 6, 4, 3, 5, 4]

##**Tupla e If:** Crie uma tupla com 4 números e verifique se o primeiro número é igual ao último.

In [ ]:
tupla_quatro = (1,9,3,9)
print(tupla_quatro)
print(type(tupla_quatro))

print(f'O primeiro número é {tupla_quatro[0]}')
print(f'O último número é {tupla_quatro[3]}')
if tupla_quatro[0] == tupla_quatro[3]:
  print('O primeiro número é igual ao último')
else:
  print('O primeiro número não é igual ao último')

(1, 9, 3, 9)
<class 'tuple'>
O primeiro número é 1
O último número é 9
O primeiro número não é igual ao último

##**Lista e If:** Crie uma lista com 3 nomes e verifique se o nome "Maria" está na lista.

In [ ]:
lista = ['Kauane','Matheus','Maria']
if 'Maria' in lista:
  print('Tem o nome Maria na lista')
else:
  print('Não existe o nome Maria na lista')

Tem o nome Maria na lista

##**Dicionário e If:** Crie um dicionário com 4 pares chave-valor e verifique se o valor associado à chave "idade" é maior que 18.

In [ ]:
cliente = {
    'nome':'Kauane',
    'idade':29,
    'Estado': 'São Paulo',
    'Estado civil': 'Solteira'}
print(type(cliente))
print(cliente)

if  cliente['idade'] > 18:
  print('É maior de 18 anos.')
else:
  print('Tem menos de 18 anos.')

<class 'dict'>
{'nome': 'Kauane', 'idade': 29, 'Estado': 'São Paulo', 'Estado civil': 'Solteira'}
É maior de 18 anos.